<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Allows you to view all your previously raised incidents based on status, incident Id.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke View Incidents from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on AskGenie in main menu or from the command list, list of options will be sent to you
                        by Teams COCO, find view incident in the list and click on it. This will display you a card with
                        previous incidents and also a filter using which you can view your incidents based on status.
                    </p>
                </li>
                <li>
                    <p> Simply type in “view incident” or “I want to view my incidents” and this will directly display
                        the view incident card without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>