<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Here you can view you raised one day bus pass requests for details like status etc.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke View My One Day Bus Pass from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on CTM in main menu or from the command list, list of options will be sent to you by
                        Teams COCO, find View One Day Bus Pass in the list and click on it. You will be able to see the
                        list of your previously raised one day bus pass requests</p>
                </li>
                <li>
                    <p> Simply type in “view one day bus pass” and You will be able to see the list of your
                        previously raised one day bus pass requests without much navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>