<div style="
max-width: 90%;
margin-left: 40px;
">
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How many days of earned leave am I entitled for in a year?</h3>
                </li>
            </ul>
            <ul style="list-style-type:none;">
                <li>
                    <p> All regular employees are entitled for 24 Earned Leaves in a calendar year. However, if the
                        employee has joined the organization in the middle of the calendar year, then the quantum of
                        Earned Leaves will be pro rata basis.</p>
                </li>
            </ul>
        </div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>If I take 2 weeks of leave, will the intervening Saturday & Sunday get accounted for/deducted
                        from my leave balance?</h3>
                </li>
            </ul>
            <ul style="list-style-type:none;">
                <li>
                    <p> If you are applying for Earned Leave (EL), only the weekdays will be accounted for the leave
                        debit and not the intervening Saturday and Sunday.</p>
                </li>
            </ul>
        </div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>Can I get advance leave credit in my leave account?</h3>
                </li>
            </ul>
            <ul style="list-style-type:none;">
                <li>
                    <p> Organization does not have any policy of advance leave.</p>
                </li>
            </ul>
        </div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How can I apply for LOP in the system?</h3>
                </li>
            </ul>
            <ul style="list-style-type:none;">
                <li>
                    <p> Employees cannot apply for LOP in the system. Only the HRSD team can do the needful with
                        required approvals.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <mat-tree>
    <mat-tree-node>
        <h3>What are the types of leaves I am entitled to?</h3>
    </mat-tree-node>
    <mat-nested-tree-node>
    <ul style="list-style-type:none;">
        <li>
            <p> As of the Demo version goes, a user is entitled to 'Earned Leave' leave type</p>
        </li>
    </ul>
    </mat-nested-tree-node>
</mat-tree> -->