<div style="
max-width: 90%;
margin-left: 40px;
">
    <!-- <h3 style="
    font-weight: normal;
">COCO is a one stop shop to all your enterprise level operations which can be simply accomplished in very few steps.
        Here, you can apply leave, check your leave balance, search for an employee, approve your subordinates leave and
        much more. Following is the list of use cases that the bot is capable of handling.</h3> -->
    <h3 style="
    font-weight: normal;
">Teams COCO is an always-on, 'in-context', persistent, omnichannel chat bot with a simple interface and intuitive user
        journey. Teams COCO allows employees to easily access information and undertake transactions across disparate IT
        systems, channels and business functions for HR, Payroll, Benefits, Travel, Expense, Admin etc.. It uses
        Microsoft LUIS NLP to capture intent and pass to and, extract transactions, from complex back end systems,
        thereby creating a seamless employee experience.</h3>
        <div>
            <div>
                <ul class="default">
                    <li style="
                    margin-left: -20px;
                ">
                        <h3>The built-in use cases for Teams COCO include</h3>
                    </li>
                </ul>
                <ol>
                    <li>
                        <p> Ask Genie (Create/Update an Incident, View Incidents)</p>
                    </li>
                    <li>
                        <p> Absence Management (Apply Leave, Cancel Leave, Check Leave
                            Balance, Check Leave History, Check Company Holiday List)</p>
                    </li>
                    <li>
                        <p>Ability to Approve Leaves and Exceptions</p>
                    </li>
                    <li>
                        <p>
                            Time & Shift Management (Raise, View and Cancel Exception etc)
                        </p>
                    </li>
                    <li>
                        <p>
                            City Travel Management (Bus pass, Cab Booking)
                        </p>
                    </li>
                    <li>
                        <p>
                            Account Recovery Tool (Unlock, Enroll, Reset, change passoword)
                        </p>
                    </li>
                    <li>
                        <p>
                            People Search (Search for employees)
                        </p>
                    </li>
                    <li>
                        <p>
                            Feedback for app
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    <!-- <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke leave balance from COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Absence in main menu or from the command list, list of options will be sent to you by
                        COCO, find Leave Balance in the list and click on it. This will display you leave balance.</p>
                </li>
                <li>
                    <p> Simply type in “Leave Balance” or “What is my leave balance” or “display my leave balance” and
                        this will directly display the leave balance without any navigation.</p>
                </li>
            </ol>
        </div>
    </div> -->
</div>