<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">This functionality provides you with the number of leaves of a particular type available, using which you can apply for leaves.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke leave balance from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Absence in main menu or from the command list, list of options will be sent to you by
                        Teams COCO, find Leave Balance in the list and click on it. This will display you your leave balance.</p>
                </li>
                <li>
                    <p> Simply type in “Leave Balance” or “What is my leave balance” or “display my leave balance” and
                        this will directly display the leave balance without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>