<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Recent shortfall will show you the attendance shortfall for recent dates individually.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Recent Shortfall from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Attendance in main menu or from the command list, list of options will be sent to
                        you by Teams COCO, find Recent Shortfall in the list and click on it. This will display you your
                        recent shortfall</p>
                </li>
                <li>
                    <p> Simply type in “recent shortfall” or “show my recent shortfall” and this will directly
                        display the quarterly shaortfall card without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>