<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Here you can search for your colleagues in Hexaware and get their public information.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke people search in Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on People Search in main menu or from command list, Teams COCO will respond back with a card
                        where in you can enter your colleague’s employee Id or employee name to fetch their details.</p>
                </li>
                <li>
                    <p> Simply type in “Search for Askok" or “Look up 37086" from the text box in the bot and it
                        will fetch you the result directly with less navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>