<div style="
max-width: 90%;
margin-left: 40px;
">
    <!-- <h3 style="
    font-weight: normal;
">This functionality provides you with the number of leaves of a particular type available (in our
        case – Earned
        Leave), using which you can apply for leaves.</h3> -->
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>Getting Started With Teams COCO</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> After adding Teams COCO bot to your chat list, you will have to login first. Invoke the login card
                        by sending "signin" message to the bot.</p>
                </li>
                <li>
                    <p> Please enter your Hexaware credentials to complete the login process. </p>
                </li>
                <li>
                    <p> Once you are successfully logged in, you should be able to see a main menu screen. You are now
                        ready to use Teams COCO for your self-service. </p>
                </li>
            </ol>
        </div>
    </div>
</div>