<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">This is a simple use case where you will be able to view all the mandatory holidays available for that year.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Holiday list from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Absence in main menu or from the command list, list of options will be sent to you
                        by Teams COCO, find Holiday List in the list and click on it. This will display you list of Holidays
                        you are entitled for that particular year.</p>
                </li>
                <li>
                    <p> Simply type in “Holiday list” or “Display my available list of holidays” and this will
                        directly display the Holiday list without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>