<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Here you can Book your night Cab in case you had to stay back in office. You are entitled to 14 cab booking per
        month.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Book Night Cab from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on CTM in main menu or from the command list, list of options will be sent to you by Teams
                        COCO, find Book Night Cab in the list and click on it. This will display a card with pre
                        populated data, please change it as per your requirement and submit it to book the cab.</p>
                </li>
                <li>
                    <p> Simply type in “Book night cab” and will display a card with pre populated data, please change
                        it as per your requirement and submit it to book the cab without much navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>