<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Quarterly shortfall will show you the number hours that you are lagging in the current quarter. If you have no lag in
        time, it will show 0 Hrs.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Quarterly Shortfall from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Attendance in main menu or from the command list, list of options will be sent to
                        you by Teams COCO, find Quarterly Shortfall in the list and click on it. This will display you
                        the number of hours that you lag in the current quarter.</p>
                </li>
                <li>
                    <p> Simply type in “Quarterly shortfall” or “show my quarterly shortfall” and this will directly
                        display the quarterly shortfall card without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>