<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Here you can take an action on your subordinate’s leaves by either approving them or rejecting them.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Approve Leave from COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Approvals in main menu or from the command list, find Approve Leave in the list and click on it. This will display you a card with
                        leaves of your subordinate’s, click on the leave that you want to take an action on and just
                        click the Approve or Reject button.</p>
                </li>
                <li>
                    <p> Directly type in “Approve leave” and the bot will respond you with the list of your subordinate’s leaves without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>