<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Helps you raise STG or Non-STG incidents which you face in Hexaware. Incidents
        do not need any approval from your supervisor. </h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Create Incident from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on AskGenie in main menu or from the command list, list of options will be sent to you
                        by Teams COCO, find create incident in the list and click on it. This will display you a card wherein
                        you should describe your incident in few words. </p>
                </li>
                <li>
                    <p> Simply type in “create incident” or “I want to raise an incident” and this will directly
                        display the create incident card without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>