<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Here you can view your current permanent bus travel details.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke View My Bus Pass from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on CTM in main menu or from the command list, list of options will be sent to you by
                        Teams COCO, find View Bus Pass in the list and click on it. You will be able to see the list of
                        your current bus pass details</p>
                </li>
                <li>
                    <p> Simply type in “view bus pass” and you will be able to see the list of your current bus pass
                        details without much navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>