<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Art enrollment is where you sign up for ART services like unlock, reset and change password. </h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke ART Enrollment from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on A.R.T in main menu or from the command list, list of options will be sent to you by
                        Teams COCO, find ART Enrollment in the list and click on it. This will display you Enrollment
                        button, click on it and signup.</p>
                </li>
                <li>
                    <p> Simply type in “ART Enrollment” and this will display you Enrollment button, click on it and
                        signup without navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>