<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Here you can raise your attendace related exceptions. Exceptions for working days should be raised under Attendance
        exception tab and exceptions for weekends/holidays should be raised under Holiday Exception Tab</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke Raise Exception from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Attendance in main menu or from the command list, find Raise Exception in the list
                        and click on it. This will display you a card with pre populated data for yesterdays date.
                        Change the data if you wish to raise for some other date or reason. Thereafter click on submit
                        button to raise exception.</p>
                </li>
                <li>
                    <p> Directly type in “Raise Exception” and you will get the raise exception card with pre populated
                        data without any navigation.</p>
                </li>
                <li>
                    <p> Utterances like “Raise exception for last Friday”, “Raise exception for yesterday” will bring
                        up card with those dates.</p>
                </li>
            </ol>
        </div>
    </div>
</div>