<div style="
max-width: 90%;
margin-left: 40px;
">
    <h3 style="
    font-weight: normal;
">Cancel Leave helps you to cancel you future or even past leaves. You just need to add a reason for cancellation and
        submit the cancel request. If you are cancelling a future leave, then it will get cancelled without any approval
        but in case you cancel a past leave, then your supervisor has to acknowledge the cancellation request.</h3>
    <div>
        <div>
            <ul class="default">
                <li style="
                margin-left: -20px;
            ">
                    <h3>How to invoke cancel leave from Teams COCO?</h3>
                </li>
            </ul>
            <ol>
                <li>
                    <p> Click on Absence in main menu or from the command list, list of options will be sent to you by
                        Teams COCO, find Cancel Leave in the list and click on it. This will display you list of leaves
                        and choose any leave that you wish to cancel.</p>
                </li>
                <li>
                    <p> Simply type in “Cancel Leave” or “I want to cancel my leave” and this will directly display the
                        cancel leave list without any navigation.</p>
                </li>
            </ol>
        </div>
    </div>
</div>